<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=true" %>
</head>
<body>

<%= yield %>

</body>
</html>
