<%= hidden_field_tag :marker_icon, asset_path( BigosContactBox::Setting["#{BigosContactBox.name}.marker_icon_src"]) unless  BigosContactBox::Setting["#{BigosContactBox.name}.marker_icon_src"].blank? %>
<%= hidden_field_tag :map_zoom,  BigosContactBox::Setting["#{BigosContactBox.name}.map_zoom"] unless  BigosContactBox::Setting["#{BigosContactBox.name}.map_zoom"].blank? %>
<%= hidden_field_tag :latitude,  BigosContactBox::Setting["#{BigosContactBox.name}.latitude"] %>
<%= hidden_field_tag :longitude, BigosContactBox::Setting["#{BigosContactBox.name}.longitude"] %>
<%= hidden_field_tag :location_name, BigosContactBox::Setting["#{BigosContactBox.name}.location_name"] %>
<div id="contact-box-map-canvas" style="width:400px; height: 400px">
</div>
